// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Dashboard
$user: #71C9CE;
$user-font:white;
$user-info: #CBF1F5;
$user-info-font:black;
$user-info-font-hover:grey;
//
