.contain-user-card{
display: flex;
justify-content: center;
}

.caret{
  display:flex;
}

#need {
font-size:35px;
margin-left:20px;
}

#help{
font-size:35px;
margin-left:45px;
}



.user-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 100px;
  width: 900px;
}
.user-info{
  background-color: $user;
  border-radius: 20px;
  color: $user-font;
  flex-grow: 1;

  vertical-align: center;
  margin-left:40px;
  padding: 20px;
  h1 {
    margin-right: 30px;

  }
}

.user-info-content {
margin:15px;
}

.contain-data{

  display: flex;
}

.card-index-infos{
  border-radius: 30px;
  justify-content: center;
  margin: 40px;
}
#help:hover{
  color: red;
}
#need:hover{
  color: blue;
}
.nav{
  background-color: $user-info;
  border-radius:19px;
  vertical-align: center;
  padding:60px 10px;
  margin: 20px 100px 0px 0px;
  color:$user-info-font;
   h1:hover {
     color: $user-info-font-hover;
   }
   h1 {
    margin: 50px 0px;
    padding-left:15px;
   }
}
.product-list{
  background-color: $user-info;
  border-radius:20px;
  padding: 20px 30px;
  margin-top: 20px;
}
.product-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
.avatar-card {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 10px;
}
.user-info-content .fas {
  font-size: 20px;
  padding-left: 15px;
}
.user-card .avatar-bordered {
  width: 320px;
  height: 300px;
}
