.caret{
  display:flex;
  width:200px;
  h2 {
    width:150px;
  }
}

#need {
font-size:35px;
margin-left:20px;
}

#help{
font-size:35px;
margin-left:20px;
margin-right:27px;
}
#need-margin {
font-size:35px;
margin-left:20px;
}

#help-margin{
font-size:35px;
margin-left:42px;
}



.title-toggle{
  color: $user;
}


.user-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 250px;
  width: 900px;
}
.user-info{
  background-color: $user;
  border-radius: 20px;
  color: $user-font;
  flex-grow: 1;

  vertical-align: center;
  margin-left:40px;
  padding: 20px;
  h1 {
    margin-right: 30px;

  }
}

.user-info-content {
margin:15px;
}

.contain-data{
  margin-left:150px;
  display: flex;
  width: 1000px;
}

.card-index-infos{
  border-radius: 30px;
  justify-content: center;
  margin: 40px;
}
#help:hover{
  color:$user;
}
#need:hover{
  color:$user;
}
.nav{
  background-color: $user-info;
  border-radius:19px;
  vertical-align: center;
  padding:60px 10px;
  margin: 20px 100px 0px 0px;
  color:$user-info-font;
   h1:hover {
     color: $user-info-font-hover;
   }
   h1 {
    margin: 50px 0px;
    padding-left:15px;
   }
}
.product-list{
  background-color: $user-info;
  border-radius:20px;
  padding: 20px 30px;
  margin-top: 45px;
  margin-left: 20px;
}
.product-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
.avatar-card {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 10px;
}
.user-info-content .fas {
  font-size: 20px;
  padding-left: 15px;
}
.user-card .avatar-bordered {
  width: 320px;
  height: 300px;
}

.button{
  margin: 10px;
  width: 200px;
  cursor: pointer;
}
.card-body{
  color: black;
  background-color: $user-info;
  font-family: $user-font;
  h5{
    color: black;
  }
}
