body{
  background-color: white;
}
.container1 {
  width: 80%;
  margin: 0 auto;
}
.content-show{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content-category{
  width: 25%;
  margin: 20px 10px;
  img{
    border-radius: 15%;
    object-fit: cover;
    width: 375px;
    height: 350px;
  }
}
.content-show-description{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px 0 20px 20px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  font-size: smaller;
  background-color: white;
  text-justify: auto;
  p{
    padding-left:20px;
  }
}

.content-show-rating{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px 0 20px 20px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  font-size: smaller;
  background-color: white;
  text-justify: auto;
  h4{
    padding-left:20px;
  }
}
.content-show-review{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    .content-review {
      border: 1px solid grey;
      display: flex;
      padding: 12px;
      height: 60px;
      font-weight: bolder;
    }
}
.content-show-right{
  width: 600px;
}
.content-show-profil-left .avatar-large {
  width: 70px;
  object-fit: cover;
  height: 70px;
  border-radius: 50%;
}
.content-show-profil-left {
  display: flex;
  padding: 5px;
  margin: 20px 20px 20px 65px;
  width: 28%;
}
.content-show-profil-left-text p {
  width: 100%;
  font-size: 12px;
  padding-left: 5px;
}
.flash {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  font-family: $body-font;
}

.flash-success {
  border: 2px solid $user;
}
