<div class="banner">
  <div class="container">
    <h1>Need2 brings <strong>a great experience</strong> for <strong>people who like to help</strong>!</h1>
    <p>Change your life and make a good decision, choose us.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
