.avatar-large {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;
}
.avatar-large-mission{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;
  .avatar-large-mission:hover{
  transform: scale(1.2);
  transition: 0.5s;
  }
}
.avatar-bordered {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(119, 115, 115, 0.8);
}

.avatar-bordered::after{
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0, black, 100%);
}


.avatar-bordered-dashboard {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: black 1px solid;
  margin-right:30px;
}
