.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-radius: 8px;
  background: linear-gradient(#71C9CE, #00f2ff);
  // transition: background 0.3s ease;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(126, 216, 255, 0.651);
}

.btn-flat:hover {
  background: #A6E3E9;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#71C9CE, #88f1f7);
  transition: background 0.3s ease;
  border: 1px solid #71C9CE;
}

.btn-gradient:hover {
  background: linear-gradient(#71C9CE, #88f1f7);
  color: white;
}
.button-validate {
  margin-right: 60px;
  width: 250px;
  font-size: 200px;
  background: rgba(113, 201, 206, 0.76);
  border-radius: 20px;
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 49px;
  color: #FFFFFF;
}
