body{
  width: 100%;
}
.card-index {
  overflow: hidden;
  background-color: #F9F9F9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 240px;
  height: 300px;
  border-radius: 10px;
  margin: 10px 0;
}
.card-index:hover {
  transform: scale(1.1);
  transition: 0.5s;
  border: 5px solid $user;

}
.card-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-index-members {
  background-color: #F9F9F9;
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  text-justify: auto;
  height: 30px;
  position: relative;
  #title{
    color: $user;
    font-family: "Noto Sans", "Helvetica", "sans-serif";
    font-size: 18px;
    font-weight: bold;
    margin: 2px 6px;
    padding: 0 5px 0 0;
    // text-decoration: none;
  }
  #desc {
    background-color: #F9F9F9;
    font-family: "Noto Sans", "Helvetica", "sans-serif";
    padding: 0 5px;
    margin-top: 5px;
    font-size: 12px;
    color: black;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    position: relative;

  }
  .date{
    background-color: #F9F9F9;
    font-family: "Noto Sans", "Helvetica", "sans-serif";
    padding: 0 5px;
    margin-top: 5px;
    font-size: 12px;
    color: black;
    font-weight: bolder;
  }
}
#address{
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 12px;
  color: black;
  padding: 0 5px;
  opacity: 0.50;
}
#need {
  cursor: pointer;
}

#help {
  cursor: pointer;
}
.index-avatar {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 40px;
  z-index: 1;
}
