.footer {
  background-color: #dfdfdf;
  color: #f6f6f6;
  margin: 40px auto 0;
  padding: 8px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
