.form-control {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border:light-grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.dis{
      width:309px;
  }

.radio{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#label{
  margin-left:15px;
  margin-bottom:px;
}

.contain-form {
  margin: 50px 0;
}

.form-inputs {
    background-color: #fff;
    top: 20px;
    border-radius: 4px;
}

.container-form1 {
  // height: 64vh;
  height: 563px;
}

.container-form {
  height: 563px;
}
