.form-control {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border:light-grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.contain-form {
  margin: 50px 0;
}
