.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 95vw;
  margin: 5px 30px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
