
.navbar-lewagon {

  justify-content: space-between;
  background-color: transparent;
  width: 100vw;
  margin: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}


/* Dropdown menu
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 6px 0;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  border: 1px solid rgb(211, 210, 210);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-item1 {
  border-radius: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.100);
  line-height: 65px;
  font-size: 18px;
  font-weight: bold;
  height: 65px;
  margin: 0 20px 0 0;
  color: black;
  position: relative;
}

.nav-item {
  font-weight: bolder;
  font-size: 18px;
}
.nav-link {
  padding: 8px 24px;
  border-radius: 8px;
  background: linear-gradient(#71C9CE, #00f2ff);
  // transition: background 0.3s ease;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  // box-shadow: 0 2px 25px rgba(255, 255, 255, 0.651);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:white;
}
