.product-card {
  background-color: $user-font;
  display: flex;
   .info {
    margin: 10px 15px;
    flex-grow:1;
   }
   .date {

    flex-grow:1;
    font-weight: bold;
    padding-top: 3px;


   }
  .user {
    margin: 10px 15px;
    color: $user;
    font-weight: bold;
  }
}

.info-candidat{
font-size:20px;

}

.candidat {
  display: flex;
  font-size: 20px;
  padding-left: 5px;
}

h3 {
  margin-left: 20px;
  background: linear-gradient(#71C9CE, #00f2ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.avatar1 {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 20px;
}
