.search-form-control {
  position: relative;
  padding-top: 10px;
}

.search-form-control .button-search {
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  border-radius: 0 30px 30px 0;
  height: 85%;
  width: 15%;
  background-color: #71C9CE;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(#71C9CE, #00f2ff);
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 2px solid $user ;
  border-radius: 30px;
  width: 100%;
}

.search-form-control .form-control:focus {
  border: 2px solid $user;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
