.wrapper{
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 10px;
  grid-auto-rows: minmax(100px, auto);
}
