// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/button";
@import "components/footer";
@import "pages/index";
@import "pages/show";
@import "pages/dashboard";


@import "components/card-products";
@import "components/wrapper";
@import 'components/card_index';

@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header"
                       "content";
}
a {
  text-decoration: none !important;
  &:hover{
    color: $user;
  }
}
header {
  grid-area: header;
}

main {
  grid-area: content;
  overflow-y: auto;
}

body {
  height: 100vh;
}
.fa-star {
  color:  #FFD700;
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}
