<div class="mission-card-map">
    <h3><%= mission.description %></h3>
    <div class="mission-card-map-img">
    </div>
    <p><i class="pr-2 fas fa-file-prescription"></i><%= mission.description.capitalize %></p>
    <p><i class="pr-2 fas fa-map-marker-alt"></i><%= mission.address.upcase %></p>
</div>
